<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<!-- Iterando em Objetos -->

<div id="app">
  <ul>
    <li v-for="pessoa in pessoas">
      <div v-for="valor in pessoa">{{ valor }}</div>
      <hr>
      <div v-for="(valor, chave) in pessoa">{{ chave }} - {{ valor }}</div>
      <hr>
      <div v-for="(valor, chave, indice) in pessoa"> {{ indice }}: {{ chave }} - {{ valor }}</div>
    </li>
  </ul>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      cores: ['Vermelho', 'Verde', 'Amarelo', 'Azul'],
      pessoas: [
        {nome: 'Ana', idade: 26, peso: 59},
        {nome: 'Guilherme', idade: 22, peso: 89},
      ]
    },
  })
</script>